<hr>
<div class="row  " >
    <div class="col-sm-6 ">
      <div class="card">
        <div class="card-body text-white bg-dark mb-3">
          <h5 class="card-title">C++</h5>
          <p class="card-text">Interviewing Question Asked in C++</p>
          <button (click) = "gotoFull(2)"  class="btn btn-secondary btn-sm">
            <i class="fa fa-trash"></i> C++
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body text-white bg-secondary mb-3">
          <h5 class="card-title">JAVA</h5>
          <p class="card-text">Question Based on java </p>
          <button (click) = "gotoFull(1)"  class="btn btn-secondary btn-sm">
            <i class="fa fa-trash"></i> Java
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
          <div class="card-body text-white bg-secondary mb-3">
            <h5 class="card-title">Python</h5>
            <p class="card-text">Question Based on Python </p>
            <button (click) = "gotoFull(3)"  class="btn btn-secondary btn-sm">
              <i class="fa fa-trash"></i> Python
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body text-white bg-secondary mb-3">
            <h5 class="card-title">HR</h5>
            <p class="card-text">Questions asked in HR Round </p>
            <button (click) = "gotoFull(3)"  class="btn btn-secondary btn-sm">
              <i class="fa fa-trash"></i> HR
            </button>
          </div>
        </div>
      </div>
  </div>


<ng-template #noCompanies>
  <h5>There are no clients in the system.</h5>
</ng-template>
